{% set haproxy_role = salt['haproxy.role']() %}

{% set haproxy = salt['grains.filter_by']({
    'Debian': {
      'loglevel': 'info',
      'role': haproxy_role,
      'this': salt['grains.filter_by']({
        'Debian': {
          'downstream_port': 80,
          'throttling': False,
          'throttling_src_conn_cur': 50,
          'throttling_src_conn_rate': 50,
          'throttling_src_conn_rate_period': '3s',
          'ssl': False,
          'stats_ip': '127.0.0.1',
          'stats_port': 8880,
          'http_port': 80,
          'https_port': 443,
          'template': 'salt://haproxy/templates/haproxy.cfg',
          'ciphers': 'ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:ECDHE-RSA-RC4-SHA:ECDHE-ECDSA-RC4-SHA:AES128:AES256:RC4-SHA:HIGH:!aNULL:!eNULL:!EXPORT:!DES:!3DES:!MD5:!PSK'
        }
      }, merge=salt['pillar.get']('haproxy:roles:'+haproxy_role,{})),
    },
    'default': 'Debian',
}, merge=salt['pillar.get']('haproxy',{})) %}

