{% set haproxy_role = salt['grains.get']('haproxy', 'default') %}
{% set haproxy = salt['grains.filter_by']({
    'Debian': {
      'loglevel': 'info',
      'this': salt['grains.filter_by']({
        'Debian': {
          'downstream_port': 80,
          'downstream_role': 'application',
          'ssl': False,
          'http_port': 80,
          'https_port': 443,
        }
      }, merge=salt['pillar.get']('haproxy:roles:'+haproxy_role,{})),
      'roles': {},
    },
    'default': 'Debian',
}, merge=salt['pillar.get']('haproxy',{})) %}

